@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: roboto;
        color: white;
    }

    h1 {
        font-family: poppins;
    }

    h2 {
        font-family: robotocon;
    }
}

@layer utilities {

    .nav {
        @apply relative ml-10 text-white/50 tracking-[1px] hover:text-white
    }

    .nav::after {
        @apply content-[''] bg-gradient-to-r from-blue-300 to-green-300 h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
    }

    .nav:hover::after {
        @apply w-[100%]
    }
}